
.pointer {
  cursor: pointer;
}

/* LanguageSelection: */
.language-select {
  font-family: Asap-Medium;
  font-size: 18px;
  color: #FFFFFF;
}

/* Con Commonfare indic...: */
.body1 {
  font-family: Asap-Regular;
  font-size: 20px;
  color: #472D33;
  line-height: 30px;
}


/* SubHeader: */
.subheader {
  font-family: Asap-Medium;
  font-size: 24px;
  color: #6C575C;
  line-height: 35px;
}
/* box: */
/*box-shadow: 3px 3px 4px 4px rgba(0,0,0,0.50);*/

/* Landing Page - Partecipa */
.partecipa-page {
  font-family: Asap-Regular;
  font-size: 24px;
  color: #472D33;
  line-height: 35px;
}

/*Hover for "category btn" - #E7472E;*/


body, html {
  background: #FFFAF7;
  font-family: 'Lora', serif;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6
{
  font-family: 'Asap', sans-serif;
  color: #EC6C58;
  font-weight: bold;
}



.path-frontpage #page-title,
.path-frontpage #wrapper
{
  background: #FFFAF7;
}

.path-taxonomy #wrapper .row.layout
{
  border: 1px solid #EEE;
  border-bottom: 0px none;
  border-right: 0px none;
  background: #FFFAF7;
}

.path-taxonomy #page-title
.path-taxonomy #wrapper
{
  text-align: center;
  background: white;
}

.medium {
    font-size: 14px;
}
.large,
.large .fa {
    font-size: 24px;
}

header.main-header {
  background-image: none;
  font-size: 36px;
  color: #FFFAF7;
  font-size: 18px;
  font-family: Asap;
  font-weight: bold;
  margin-bottom: 0;
}

header.main-header:after {
  background-color: #EC6C58
}

.footer-menu {
  display: none;
}

.commonfare-homepage section .content_layout .node > h2 {
  display: none;
}

.commonfare-homepage article {
  font-weight: bold;
}

.commonfare-homepage #about .node__content {
  padding: 40px 0 10px 0;
}

body .main-header,
.commonfare-homepage #get-informed .main-header,
.commonfare-homepage #participate .main-header
{
  padding: 0;
}

body .main-header .menu-base-theme li
{
  padding: 10px 0;
}
.brand.logo img
{
  padding: 10px 0 0 0;
}
.brand.logo
{
  text-align: center
}

.menu-base-theme li.active,
.commonfare-homepage #get-informed .menu-base-theme li:nth-child(2),
.commonfare-homepage #participate .menu-base-theme li:nth-child(3)
{
  background-color: #FFFFFF;
}
.menu-base-theme li.active a,
.commonfare-homepage #get-informed .menu-base-theme li:nth-child(2) a,
.commonfare-homepage #participate .menu-base-theme li:nth-child(3) a
{
  color: #EC6C58;
}

.commonfare-homepage {
  background-color: #FFFAF7;
}

.commonfare-homepage #get-informed #wrapper {
  background-color: #FFFFFF;
}

.commonfare-homepage .button_how {
  padding: 10px 0;
}

.card-content .card-item .wrapper {
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 4px #BBB;
  border: 1px solid #CCC;
  background-color: #FFF;
  min-height: 220px;
  max-height: 220px;
  cursor: pointer;
}

.commonfare-homepage .card-content .card-item .wrapper:hover {
  box-shadow: 2px 2px 12px #AAA;
}

.commonfare-homepage .cards-list {
  border-top: 1px solid #EEE;
  background-color: #FFFAF7;
  margin: 0.5em 0 4em 0;
}

.card-content .views-field-name,
.card-content .views-field-description__value
{
  text-align: center;
}

.card-content .btn
{
  font-weight: bold;
  font-size: 14px;
}

.card-content .views-field-description__value
{
    min-height: 80px;
    max-height: 80px;
    overflow-y: hidden;
}

.path-taxonomy .card-content .button_how {
  padding-right: 2.6em;
}
.path-taxonomy .card-content .button_how .btn {
  width: 47px;
  padding: 16px;
}
.path-taxonomy .card-content .card-item .wrapper:hover {
  background: #EC6C58;
}
.path-taxonomy .card-content .card-item .wrapper:hover .views-field-name h2,
.path-taxonomy .card-content .card-item .wrapper:hover .views-field-description__value,
.path-taxonomy .card-content .card-item .wrapper:hover .button_how a
 {
  color: white !important;
}


.text-white {
  color: white !important;
}
.text-red {
  color: #EC6C58 !important;
}
.red {
  background-color: #EC6C58 !important;
}

div.copyright {
  font-size: 12px;
  font-family: Asap;
  font-weight: bold;
  color: #FFFFFF;
  background: #EC6C58;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
