
/* LanguageSelection: */
.language-select {
  font-family: Asap-Medium;
  font-size: 18px;
  color: #FFFFFF;
}

/* Con Commonfare indic...: */
.body1 {
  font-family: Asap-Regular;
  font-size: 20px;
  color: #472D33;
  line-height: 30px;
}


/* SubHeader: */
.subheader {
  font-family: Asap-Medium;
  font-size: 24px;
  color: #6C575C;
  line-height: 35px;
}
/* box: */
/*box-shadow: 3px 3px 4px 4px rgba(0,0,0,0.50);*/

/* Landing Page - Partecipa */
.partecipa-page {
  font-family: Asap-Regular;
  font-size: 24px;
  color: #472D33;
  line-height: 35px;
}

/*Hover for "category btn" - #E7472E;*/


body, html {
  background: #FFFAF7;
  font-family: 'Lora', serif;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6
{
  font-family: 'Asap', sans-serif;
  color: #EC6C58;
  font-weight: bold;
}

#page-title, #wrapper {
  background: #FFFAF7;
}

.medium {
    font-size: 14px;
}

header.main-header {
  background-image: none;
  font-size: 36px;
  color: #FFFAF7;
  font-size: 18px;
  font-family: Asap;
  font-weight: bold;
  margin-bottom: 0;
}

header.main-header:after {
  background-color: #EC6C58
}

.footer-menu {
  display: none;
}

.commonfare-homepage section .content_layout .node > h2 {
  display: none;
}

.commonfare-homepage article {
  font-weight: bold;
}

.commonfare-homepage #about .node__content {
  padding: 40px 0 10px 0;
}

.commonfare-homepage #get-informed .main-header,
.commonfare-homepage #participate .main-header
{
  padding: 0;
}

.commonfare-homepage .menu-base-theme li
{
  padding: 10px 0;
}
.commonfare-homepage .brand.logo img
{
  padding: 10px 0 0 0;
}
.commonfare-homepage .brand.logo
{
  text-align: center
}

.commonfare-homepage #get-informed .menu-base-theme li:nth-child(2),
.commonfare-homepage #participate .menu-base-theme li:nth-child(3)
{
  background-color: #FFFFFF;
}
.commonfare-homepage #get-informed .menu-base-theme li:nth-child(2) a,
.commonfare-homepage #participate .menu-base-theme li:nth-child(3) a
{
  color: #EC6C58;
}


.commonfare-homepage {
  background-color: #FFFAF7;
}

.commonfare-homepage #get-informed #wrapper {
  background-color: #FFFFFF;
}

.commonfare-homepage .button_how {
  padding: 10px 0;
}

.commonfare-homepage .term-item .wrapper {
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 4px #BBB;
  border: 1px solid #CCC;
  background-color: #FFF;
}

.commonfare-homepage .cards-list {
  border-top: 1px solid #EEE;
  background-color: #FFFAF7;
  margin: 0.5em 0 4em 0;
}

.commonfare-homepage .block-views-blockwelfare-measure-sections-block-1 .views-field-name,
.commonfare-homepage .block-views-blockwelfare-measure-sections-block-1 .views-field-description__value
{
  text-align: center;
}

.commonfare-homepage .block-views-blockwelfare-measure-sections-block-1 .btn
{
  font-weight: bold;
  font-size: 14px;
}

.commonfare-homepage .block-views-blockwelfare-measure-sections-block-1 .views-field-description__value
{
    min-height: 70px;
    max-height: 80px
}

.text-white {
  color: white !important;
}
.red {
  background-color: #EC6C58 !important;
}

div.copyright {
  font-size: 12px;
  font-family: Asap;
  font-weight: bold;
  color: #FFFFFF;
  background: #EC6C58;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
